<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign-up.css">
    <title>Signup Page</title>
</head>
<body>
    <div class="container">
        <form id="loginForm">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">loginForm</button>
        </form>
        <p  style="color: blue;"><u>Forgot password? <button id="forgotPasswordBtn">Click here</button></u></p>
    </div>
    <div class="container" style="display: none;">
        <form id="forgotPasswordForm" >
            <label for="forgotEmail">Enter your email:</label>
            <input type="email" id="forgotEmail" name="forgotEmail" required>
            <button type="submit">Submit</button>
        </form>
    </div>
   

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/login.js"></script>
    <script>
        
       
    </script>
</body>
</html>
